tests/org.eclipse.emf.teneo.samples/src/org/eclipse/emf/teneo/samples/issues/bz249246/model/bz249246.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.eclipse.org/emf/teneo/samples/issues/bz249246"
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:this="http://www.eclipse.org/emf/teneo/samples/issues/bz249246">
	<xsd:complexType name="Person">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Student">
		<xsd:complexContent>
			<xsd:extension base="this:Person">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:ID" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>