examples/org.eclipse.emf.teneo.samples/src/org/eclipse/emf/teneo/samples/emf/annotations/idbag/model/IdBag.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.eclipse.org/emf/teneo/samples/emf/annotations/idbag"
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:this="http://www.eclipse.org/emf/teneo/samples/emf/annotations/idbag">
	
	<xsd:complexType name="User">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="role" type="xsd:string" minOccurs="0" maxOccurs="unbounded" ecore:name="roles">
				<xsd:annotation>
					<xsd:appinfo source="teneo.hibernate">@IdBag</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>	

</xsd:schema>