tests/org.eclipse.emf.teneo.samples/src/org/eclipse/emf/teneo/samples/emf/schemaconstructs/documentroot/model/documentroot.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://www.eclipse.org/emf/teneo/samples/emf/schemaconstructs/documentroot"
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:this="http://www.eclipse.org/emf/teneo/samples/emf/schemaconstructs/documentroot"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="test" type="xsd:string" />

	<xsd:element name="otherTest" type="xsd:string" />

	<xsd:complexType name="ComplexType">
		<xsd:sequence>
			<xsd:element ref="this:test" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
