plugins/org.eclipse.emf.teneo.annotations/model/persistence-mapping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.elver.org/teneo/persistence" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns="http://www.elver.org/teneo/persistence">
    <xsd:element name="persistence-mapping">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="epackage" type="xsd:anyURI"/>
                <xsd:element name="sequence-generator" type="SequenceGenerator" minOccurs="0"/>
                <xsd:element name="table-generator" type="TableGenerator" minOccurs="0"/>
                <xsd:element name="entity" type="Entity" minOccurs="0" maxOccurs="unbounded"/>
                <!-- TODO: Add <mapped-superclass> -->
                <!-- TODO: Add <embedded> -->
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="Entity">
        <xsd:sequence>
            <xsd:sequence>
                <xsd:element name="attribute-override" type="AttributeOverride" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="discriminator-column" type="DiscriminatorColumn" minOccurs="0"/>
                <xsd:element name="discriminator-value" type="xsd:string" minOccurs="0"/>
                <xsd:element name="embeddable" type="Embeddable" minOccurs="0"/>
                <xsd:element name="mapped-superclass" type="MappedSuperclass" minOccurs="0"/>
                <xsd:element name="id-class" type="xsd:string" minOccurs="0"/>
                <xsd:element name="inheritance" type="InheritanceType" minOccurs="0"/>
                <xsd:element name="primary-key-join-column" type="PrimaryKeyJoinColumn" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="secondary-table" type="SecondaryTable" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="sequence-generator" type="SequenceGenerator" minOccurs="0"/>
                <xsd:element name="table" type="Table" minOccurs="0"/>
                <xsd:element name="table-generator" type="TableGenerator" minOccurs="0"/>
                <xsd:element name="association-override" type="AssociationOverride" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="eattribute" type="EAttribute" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="ereference" type="EReference" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:choice>
        </xsd:sequence>
        <xsd:attribute name="eclass" type="xsd:token"/>
    </xsd:complexType>
    <xsd:complexType name="EAttribute">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="attribute-override" type="AttributeOverride" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="column" type="Column" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="join-table" type="JoinTable" minOccurs="0"/>
            <xsd:element name="one-to-many" type="OneToMany" minOccurs="0"/>
            <xsd:element name="sequence-generator" type="SequenceGenerator" minOccurs="0"/>
            <xsd:element name="table-generator" type="TableGenerator" minOccurs="0"/>
            <xsd:element name="join-column" type="JoinColumn" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="id-bag" type="IdBag" minOccurs="0"/>
            <xsd:element name="indexed" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="unique" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="basic" type="Basic" minOccurs="0"/>
            <xsd:element name="enumerated" type="EnumType" minOccurs="0"/>
            <xsd:element name="generated-value" type="GeneratedValue" minOccurs="0"/>
            <xsd:element name="id" type="Id" minOccurs="0"/>
            <xsd:element name="lob" type="Lob" minOccurs="0"/>
            <xsd:element name="temporal" type="TemporalType" minOccurs="0"/>
            <xsd:element name="version" type="Version" minOccurs="0"/>
            <xsd:element name="type" type="Type" minOccurs="0"/>
        </xsd:choice>
        <xsd:attribute name="name" type="xsd:token"/>
    </xsd:complexType>
    <xsd:complexType name="EReference">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="attribute-override" type="AttributeOverride" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="column" type="Column" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="join-table" type="JoinTable" minOccurs="0"/>
            <xsd:element name="one-to-many" type="OneToMany" minOccurs="0"/>
            <xsd:element name="sequence-generator" type="SequenceGenerator" minOccurs="0"/>
            <xsd:element name="table-generator" type="TableGenerator" minOccurs="0"/>
            <xsd:element name="join-column" type="JoinColumn" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="id-bag" type="IdBag" minOccurs="0"/>
            <xsd:element name="indexed" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="unique" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="embedded" type="Embedded" minOccurs="0"/>
            <xsd:element name="embedded-id" type="EmbeddedId" minOccurs="0"/>
            <xsd:element name="many-to-many" type="ManyToMany" minOccurs="0"/>
            <xsd:element name="many-to-one" type="ManyToOne" minOccurs="0"/>
            <xsd:element name="one-to-one" type="OneToOne" minOccurs="0"/>
            <xsd:element name="order-by" type="xsd:string" minOccurs="0"/>
            <xsd:element name="primary-key-join-column" type="PrimaryKeyJoinColumn" minOccurs="0"/>
        </xsd:choice>
        <xsd:attribute name="name" type="xsd:token"/>
    </xsd:complexType>
    <xsd:complexType name="AssociationOverride">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="1"/>
            <xsd:element name="join-columns" type="JoinColumn" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AttributeOverride">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="1"/>
            <xsd:element name="column" type="Column" minOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Basic">
        <xsd:sequence>
            <xsd:element name="fetch" type="FetchType" minOccurs="0"/>
            <xsd:element name="optional" type="xsd:boolean" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Column">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="0"/>
            <xsd:element name="unique" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="nullable" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="insertable" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="updatable" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="column-definition" type="xsd:string" minOccurs="0"/>
            <xsd:element name="table" type="xsd:string" minOccurs="0"/>
            <xsd:element name="length" type="xsd:int" minOccurs="0"/>
            <xsd:element name="precision" type="xsd:int" minOccurs="0"/>
            <xsd:element name="scale" type="xsd:int" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DiscriminatorColumn">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="0"/>
            <xsd:element name="discriminator-type" type="DiscriminatorType" minOccurs="0"/>
            <xsd:element name="column-definition" type="xsd:string" minOccurs="0"/>
            <xsd:element name="length" type="xsd:int" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Embeddable"/>
    <xsd:complexType name="Embedded"/>
    <xsd:complexType name="EmbeddedId"/>
    <xsd:complexType name="GeneratedValue">
        <xsd:sequence>
            <xsd:element name="strategy" type="GenerationType" minOccurs="0"/>
            <xsd:element name="generator" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Id"/>
    <xsd:complexType name="IdBag">
        <xsd:sequence>
            <xsd:element name="generator" type="xsd:string" minOccurs="0"/>
            <xsd:element name="type" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JoinColumn">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="0"/>
            <xsd:element name="referenced-column-name" type="xsd:string" minOccurs="0"/>
            <xsd:element name="unique" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="nullable" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="insertable" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="updatable" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="column-definition" type="xsd:string" minOccurs="0"/>
            <xsd:element name="table" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JoinTable">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="0"/>
            <xsd:element name="catalog" type="xsd:string" minOccurs="0"/>
            <xsd:element name="schema" type="xsd:string" minOccurs="0"/>
            <xsd:element name="join-columns" type="JoinColumn" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="inverse-join-columns" type="JoinColumn" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="unique-constraints" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Lob"/>
    <xsd:complexType name="ManyToMany">
        <xsd:sequence>
            <xsd:element name="target-entity" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cascade" type="CascadeType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="fetch" type="FetchType" minOccurs="0"/>
            <xsd:element name="mapped-by" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ManyToOne">
        <xsd:sequence>
            <xsd:element name="target-entity" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cascade" type="CascadeType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="fetch" type="FetchType" minOccurs="0"/>
            <xsd:element name="optional" type="xsd:boolean" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MappedSuperclass"/>
    <xsd:complexType name="OneToMany">
        <xsd:sequence>
            <xsd:element name="target-entity" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cascade" type="CascadeType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="fetch" type="FetchType" minOccurs="0"/>
            <xsd:element name="mapped-by" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OneToOne">
        <xsd:sequence>
            <xsd:element name="target-entity" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cascade" type="CascadeType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="fetch" type="FetchType" minOccurs="0"/>
            <xsd:element name="optional" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="mapped-by" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Parameter">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="1"/>
            <xsd:element name="value" type="xsd:string" minOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PrimaryKeyJoinColumn">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="0"/>
            <xsd:element name="referenced-column-name" type="xsd:string" minOccurs="0"/>
            <xsd:element name="column-definition" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SecondaryTable">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="1"/>
            <xsd:element name="catalog" type="xsd:string" minOccurs="0"/>
            <xsd:element name="schema" type="xsd:string" minOccurs="0"/>
            <xsd:element name="pk-join-columns" type="PrimaryKeyJoinColumn" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="unique-constraints" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SequenceGenerator">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="1"/>
            <xsd:element name="sequence-name" type="xsd:string" minOccurs="0"/>
            <xsd:element name="initial-value" type="xsd:int" minOccurs="0"/>
            <xsd:element name="allocation-size" type="xsd:int" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Table">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="0"/>
            <xsd:element name="catalog" type="xsd:string" minOccurs="0"/>
            <xsd:element name="schema" type="xsd:string" minOccurs="0"/>
            <xsd:element name="unique-constraints" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TableGenerator">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="1"/>
            <xsd:element name="table" type="xsd:string" minOccurs="0"/>
            <xsd:element name="catalog" type="xsd:string" minOccurs="0"/>
            <xsd:element name="schema" type="xsd:string" minOccurs="0"/>
            <xsd:element name="pk-column-name" type="xsd:string" minOccurs="0"/>
            <xsd:element name="value-column-name" type="xsd:string" minOccurs="0"/>
            <xsd:element name="pk-column-value" type="xsd:string" minOccurs="0"/>
            <xsd:element name="initial-value" type="xsd:int" minOccurs="0"/>
            <xsd:element name="allocation-size" type="xsd:int" minOccurs="0"/>
            <xsd:element name="unique-constraints" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Transient"/>
    <xsd:complexType name="Type">
        <xsd:sequence>
            <xsd:element name="type" type="xsd:string" minOccurs="1"/>
            <xsd:element name="parameters" type="Parameter" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Version"/>
    <xsd:simpleType name="CascadeType">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="ALL"/>
            <xsd:enumeration value="PERSIST"/>
            <xsd:enumeration value="MERGE"/>
            <xsd:enumeration value="REMOVE"/>
            <xsd:enumeration value="REFRESH"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="DiscriminatorType">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="STRING"/>
            <xsd:enumeration value="CHAR"/>
            <xsd:enumeration value="INTEGER"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="EnumType">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="ORDINAL"/>
            <xsd:enumeration value="STRING"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="FetchType">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="LAZY"/>
            <xsd:enumeration value="EAGER"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="GenerationType">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="TABLE"/>
            <xsd:enumeration value="SEQUENCE"/>
            <xsd:enumeration value="IDENTITY"/>
            <xsd:enumeration value="AUTO"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="InheritanceType">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="SINGLE_TABLE"/>
            <xsd:enumeration value="TABLE_PER_CLASS"/>
            <xsd:enumeration value="JOINED"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TemporalType">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="DATE"/>
            <xsd:enumeration value="TIME"/>
            <xsd:enumeration value="TIMESTAMP"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
