tests/org.eclipse.emf.teneo.hibernate.test/src/org/eclipse/emf/teneo/hibernate/test/issues/documentrootexp_2.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns="http://www.eclipse.org/emf/teneo/samples/emf/schemaconstructs/documentrootexp" targetNamespace="http://www.eclipse.org/emf/teneo/samples/emf/schemaconstructs/documentrootexp" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ANYTHING" type="xsd:anyType" />
  <xsd:complexType name="PersonType">
    <xsd:sequence>
      <xsd:element name="LastName" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute name="FirstName" type="xsd:string" />
    <xsd:attribute name="Age" type="xsd:integer" />
  </xsd:complexType>
</xsd:schema>