examples/org.eclipse.emf.teneo.samples/src/org/eclipse/emf/teneo/samples/emf/schemaconstructs/model/datetime.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema 
	targetNamespace="http://www.eclipse.org/emf/teneo/samples/emf/schemaconstructs/datetime"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:td="http://www.eclipse.org/emf/teneo/samples/emf/schemaconstructs/datetime">

	<complexType name="TestDate">
		<sequence>
			<element name="date" type="date"></element>
			<element name="datetime" type="dateTime"></element>
		</sequence>
	</complexType>

	<element name="root" type="td:TestDate"></element>
</schema>