examples/org.eclipse.emf.teneo.samples/src/org/eclipse/emf/teneo/samples/emf/sample/dynamic/model/dynamic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.eclipse.org/emf/teneo/samples/emf/sample/dynamic"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
    xmlns:this="http://www.eclipse.org/emf/teneo/samples/emf/sample/dynamic"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
  	<xsd:complexType name="Person">
	    	<xsd:sequence>
	  		<xsd:element name="name" type="xsd:string"/>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element name="age" type="xsd:int"/>
				<xsd:element name="length" type="xsd:int"/>
			</xsd:choice>
    		</xsd:sequence>
  	</xsd:complexType>
 </xsd:schema>
