plugins/org.eclipse.emf.teneo.dbm2/model/hbm30.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://hibernate.sourceforge.net/hbm30"
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" 
	targetNamespace="http://hibernate.sourceforge.net/hbm30">
	
		<!-- COMMON SIMPLE TYPE DEF -->
	<xs:simpleType name="fetch_join_select">
		<xs:restriction base="xs:string">
			<xs:enumeration value="join" />
			<xs:enumeration value="select" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="fetch">
		<xs:restriction base="xs:string">
			<xs:enumeration value="join" />
			<xs:enumeration value="select" />
			<xs:enumeration value="subselect" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="outerjoin">
		<xs:restriction base="xs:string">
			<xs:enumeration value="true" />
			<xs:enumeration value="false" />
			<xs:enumeration value="auto" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="lazy">
		<xs:restriction base="xs:string">
			<xs:enumeration value="false" />
			<xs:enumeration value="proxy" />
			<xs:enumeration value="no-proxy" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="lazy_false_proxy">
		<xs:restriction base="xs:string">
			<xs:enumeration value="false" />
			<xs:enumeration value="proxy" />
			<xs:enumeration value="no-proxy" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="lazy_true_false_extra">
		<xs:restriction base="xs:string">
			<xs:enumeration value="true" />
			<xs:enumeration value="false" />
			<xs:enumeration value="extra" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="generated">
		<xs:restriction base="xs:string">
			<xs:enumeration value="never" />
			<xs:enumeration value="insert" />
			<xs:enumeration value="always" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="generated_never_always">
		<xs:restriction base="xs:string">
			<xs:enumeration value="never" />
			<xs:enumeration value="always" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="cachemode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="get" />
			<xs:enumeration value="ignore" />
			<xs:enumeration value="normal" />
			<xs:enumeration value="put" />
			<xs:enumeration value="refresh" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="lockmode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="none" />
			<xs:enumeration value="read" />
			<xs:enumeration value="upgrade" />
			<xs:enumeration value="upgrade-nowait" />
			<xs:enumeration value="write" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="flushmode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="auto" />
			<xs:enumeration value="never" />
			<xs:enumeration value="always" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="notfound">
		<xs:restriction base="xs:string">
			<xs:enumeration value="exception" />
			<xs:enumeration value="ignore" />
		</xs:restriction>
	</xs:simpleType>
	
	
	<!--  HIBERNATE-MAPPING -->
	<xs:complexType name="hibernate-mapping">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta"
				type="meta" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="typedef"
				type="typedef" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="import"
				type="import" />
			<xs:choice maxOccurs="unbounded" minOccurs="0">
				<xs:element name="class" type="class" />
				<xs:element name="subclass" type="subclass" />
				<xs:element name="joined-subclass" type="joined-subclass" />
				<xs:element name="union-subclass" type="union-subclass" />
			</xs:choice>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="resultset"
				type="resultset" />
			<xs:choice maxOccurs="unbounded" minOccurs="0">
				<xs:element name="query" type="query" />
				<xs:element name="sql-query" type="sql-query" />
			</xs:choice>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="filter-def"
				type="filter-def" />
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="database-object" type="database-object" />
		</xs:sequence>
		<xs:attribute name="schema" type="xs:string" />
		<xs:attribute name="catalog" type="xs:string" />
		<xs:attribute default="none" name="default-cascade" type="xs:string" />
		<xs:attribute default="property" name="default-access"
			type="xs:string" />
		<xs:attribute default="true" name="default-lazy" type="xs:boolean" />
		<xs:attribute default="true" name="auto-import" type="xs:boolean" />
		<xs:attribute name="package" type="xs:string" />
	</xs:complexType>

	<!-- META -->
	<xs:complexType name="meta">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="attribute" type="xs:string" use="required" />
				<xs:attribute default="true" name="inherit" type="xs:boolean" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!--  TYPEDEF -->
	<xs:complexType name="typedef">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="param"
				type="param" />
		</xs:sequence>
		<xs:attribute name="class" type="xs:string" use="required" />
		<xs:attribute name="name" type="xs:string" use="required" />
	</xs:complexType>
	<xs:complexType name="import">
		<xs:attribute name="class" type="xs:string" use="required" />
		<xs:attribute name="rename" type="xs:string" />
	</xs:complexType>

	<!--  CLASS -->
	<xs:complexType name="class">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta"
				type="meta" />
			<xs:element minOccurs="0" name="subselect" type="xs:string" />
			<xs:element minOccurs="0" name="cache" type="cache" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="synchronize"
				type="synchronize" />
			<xs:element minOccurs="0" name="comment" type="xs:string" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="tuplizer"
				type="tuplizer" />
			<xs:choice>
				<xs:element name="id" type="id" />
				<xs:element name="composite-id" type="composite-id" />
			</xs:choice>
			<xs:element minOccurs="0" name="discriminator" type="discriminator" />
			<xs:element minOccurs="0" name="natural-id" type="natural-id" />
			<xs:choice minOccurs="0">
				<xs:element name="version" type="version" />
				<xs:element name="timestamp" type="timestamp" />
			</xs:choice>
			<xs:choice maxOccurs="unbounded" minOccurs="0">
				<xs:element name="property" type="property" />
				<xs:element name="many-to-one" type="many-to-one" />
				<xs:element name="one-to-one" type="one-to-one" />
				<xs:element name="component" type="component" />
				<xs:element name="dynamic-component" type="dynamic-component" />
				<xs:element name="properties" type="properties" />
				<xs:element name="any" type="any" />
				<xs:element name="map" type="map" />
				<xs:element name="set" type="set" />
				<xs:element name="list" type="list" />
				<xs:element name="bag" type="bag" />
				<xs:element name="idbag" type="idbag" />
				<xs:element name="array" type="array" />
				<xs:element name="primitive-array" type="primitive-array" />
			</xs:choice>
			<xs:choice>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="join"
						type="join" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="subclass"
						type="subclass" />
				</xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0"
					name="joined-subclass" type="joined-subclass" />
				<xs:element maxOccurs="unbounded" minOccurs="0"
					name="union-subclass" type="union-subclass" />
			</xs:choice>
			<xs:element minOccurs="0" name="loader" type="loader" />
			<xs:element minOccurs="0" name="sql-insert" type="sql-insert" />
			<xs:element minOccurs="0" name="sql-update" type="sql-update" />
			<xs:element minOccurs="0" name="sql-delete" type="sql-delete" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="filter"
				type="filter" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="resultset"
				type="resultset" />
			<xs:choice maxOccurs="unbounded" minOccurs="0">
				<xs:element name="query" type="query" />
				<xs:element name="sql-query" type="sql-query" />
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="entity-name" type="xs:string" />
		<xs:attribute name="name" type="xs:string" />
		<xs:attribute name="proxy" type="xs:string" />
		<xs:attribute name="lazy" type="xs:boolean" />
		<xs:attribute name="table" type="xs:string" />
		<xs:attribute name="schema" type="xs:string" />
		<xs:attribute name="catalog" type="xs:string" />
		<xs:attribute name="subselect" type="xs:string" />
		<xs:attribute name="discriminator-value" type="xs:string" />
		<xs:attribute default="true" name="mutable" type="xs:boolean" />
		<xs:attribute name="abstract" type="xs:boolean" />
		<xs:attribute default="implicit" name="polymorphism">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="implicit" />
					<xs:enumeration value="explicit" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="where" type="xs:string" />
		<xs:attribute name="persister" type="xs:string" />
		<xs:attribute default="false" name="dynamic-update" type="xs:boolean" />
		<xs:attribute default="false" name="dynamic-insert" type="xs:boolean" />
		<xs:attribute name="batch-size" type="xs:string" />
		<xs:attribute default="false" name="select-before-update"
			type="xs:boolean" />
		<xs:attribute default="version" name="optimistic-lock">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="none" />
					<xs:enumeration value="version" />
					<xs:enumeration value="dirty" />
					<xs:enumeration value="all" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="check" type="xs:string" />
		<xs:attribute name="rowid" type="xs:string" />
		<xs:attribute name="node" type="xs:string" />
	</xs:complexType>

	<!-- TUPLIZER -->
	<xs:complexType name="tuplizer">
		<xs:attribute name="entity-mode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="pojo" />
					<xs:enumeration value="dom4j" />
					<xs:enumeration value="dynamic-map" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="class" type="xs:string" use="required" />
	</xs:complexType>

	<!--  FILTER-DEF -->
	<xs:complexType mixed="true" name="filter-def">
		<xs:choice maxOccurs="unbounded" minOccurs="0">
			<xs:element name="filter-param" type="filter-param" />
		</xs:choice>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="condition" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="filter-param">
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="type" type="xs:string" use="required" />
	</xs:complexType>

	<!-- FILTER -->
	<xs:complexType name="filter">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string" use="required" />
				<xs:attribute name="condition" type="xs:string" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!-- JOIN -->
	<xs:complexType name="join">
		<xs:sequence>
			<xs:element minOccurs="0" name="subselect" type="xs:string" />
			<xs:element minOccurs="0" name="comment" type="xs:string" />
			<xs:element name="key" type="key" />
			<xs:choice maxOccurs="unbounded" minOccurs="0">
				<xs:element name="property" type="property" />
				<xs:element name="many-to-one" type="many-to-one" />
				<xs:element name="component" type="component" />
				<xs:element name="dynamic-component" type="dynamic-component" />
				<xs:element name="any" type="any" />
			</xs:choice>
			<xs:element minOccurs="0" name="sql-insert" type="sql-insert" />
			<xs:element minOccurs="0" name="sql-update" type="sql-update" />
			<xs:element minOccurs="0" name="sql-delete" type="sql-delete" />
		</xs:sequence>
		<xs:attribute name="table" type="xs:string" use="required" />
		<xs:attribute name="schema" type="xs:string" />
		<xs:attribute name="catalog" type="xs:string" />
		<xs:attribute name="subselect" type="xs:string" />
		<xs:attribute default="join" name="fetch" type="fetch" />
		<xs:attribute default="false" name="inverse" type="xs:boolean" />
		<xs:attribute default="false" name="optional" type="xs:boolean" />
	</xs:complexType>

	<!-- NATURAL-ID -->
	<xs:complexType name="natural-id">
		<xs:choice maxOccurs="unbounded" minOccurs="0">
			<xs:element name="property" type="property" />
			<xs:element name="many-to-one" type="many-to-one" />
			<xs:element name="component" type="component" />
			<xs:element name="dynamic-component" type="dynamic-component" />
			<xs:element name="any" type="any" />
		</xs:choice>
		<xs:attribute default="false" name="mutable" type="xs:boolean" />
	</xs:complexType>

	<!--  ID -->
	<xs:complexType name="id">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta"
				type="meta" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="column"
				type="column" />
			<xs:element minOccurs="0" name="type" type="type" />
			<xs:element minOccurs="0" name="generator" type="generator" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" />
		<xs:attribute name="node" type="xs:string" />
		<xs:attribute name="access" type="xs:string" />
		<xs:attribute name="column" type="xs:string" />
		<xs:attribute name="type" type="xs:string" />
		<xs:attribute name="length" type="xs:string" />
		<xs:attribute name="unsaved-value" type="xs:string" />
	</xs:complexType>

	<!--  COMPOSITE-ID -->
	<xs:complexType name="composite-id">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta"
				type="meta" />
			<xs:choice maxOccurs="unbounded">
				<xs:element name="key-property" type="key-property" />
				<xs:element name="key-many-to-one" type="key-many-to-one" />
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="class" type="xs:string" />
		<xs:attribute default="false" name="mapped" type="xs:boolean" />
		<xs:attribute name="name" type="xs:string" />
		<xs:attribute name="node" type="xs:string" />
		<xs:attribute name="access" type="xs:string" />
		<xs:attribute default="undefined" name="unsaved-value">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="undefined" />
					<xs:enumeration value="any" />
					<xs:enumeration value="none" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<!-- DISCRIMINATOR -->
	<xs:complexType name="discriminator">
		<xs:choice minOccurs="0">
			<xs:element name="column" type="column" />
			<xs:element name="formula" type="xs:string" />
		</xs:choice>
		<xs:attribute name="column" type="xs:string" />
		<xs:attribute name="formula" type="xs:string" />
		<xs:attribute default="string" name="type" type="xs:string" />
		<xs:attribute default="true" name="not-null" type="xs:boolean" />
		<xs:attribute name="length" type="xs:string" />
		<xs:attribute default="false" name="force" type="xs:boolean" />
		<xs:attribute default="true" name="insert" type="xs:boolean" />
	</xs:complexType>

	<!--  VERSION -->
	<xs:complexType name="version">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta"
				type="meta" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="column"
				type="column" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="node" type="xs:string" />
		<xs:attribute name="access" type="xs:string" />
		<xs:attribute name="column" type="xs:string" />
		<xs:attribute default="integer" name="type" type="xs:string" />
		<xs:attribute default="undefined" name="unsaved-value">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="null" />
					<xs:enumeration value="negative" />
					<xs:enumeration value="undefined" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute default="never" name="generated"
			type="generated_never_always" />
		<xs:attribute name="insert" type="xs:boolean" />
	</xs:complexType>

	<!-- TIMESTAMP -->
	<xs:complexType name="timestamp">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta"
				type="meta" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="node" type="xs:string" />
		<xs:attribute name="column" type="xs:string" />
		<xs:attribute name="access" type="xs:string" />
		<xs:attribute default="null" name="unsaved-value">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="null" />
					<xs:enumeration value="undefined" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>

		<xs:attribute default="vm" name="source">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="vm" />
					<xs:enumeration value="db" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute default="never" name="generated"
			type="generated_never_always" />
	</xs:complexType>

	<!--  SUBCLASS -->
	<xs:complexType name="subclass">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta"
				type="meta" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="tuplizer"
				type="tuplizer" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="synchronize"
				type="synchronize" />
			<xs:choice maxOccurs="unbounded" minOccurs="0">
				<xs:element name="property" type="property" />
				<xs:element name="many-to-one" type="many-to-one" />
				<xs:element name="one-to-one" type="one-to-one" />
				<xs:element name="component" type="component" />
				<xs:element name="dynamic-component" type="dynamic-component" />
				<xs:element name="any" type="any" />
				<xs:element name="map" type="map" />
				<xs:element name="set" type="set" />
				<xs:element name="list" type="list" />
				<xs:element name="bag" type="bag" />
				<xs:element name="idbag" type="idbag" />
				<xs:element name="array" type="array" />
				<xs:element name="primitive-array" type="primitive-array" />
			</xs:choice>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="join"
				type="join" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="subclass"
				type="subclass" />
			<xs:element minOccurs="0" name="loader" type="loader" />
			<xs:element minOccurs="0" name="sql-insert" type="sql-insert" />
			<xs:element minOccurs="0" name="sql-update" type="sql-update" />
			<xs:element minOccurs="0" name="sql-delete" type="sql-delete" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="resultset"
				type="resultset" />
			<xs:choice maxOccurs="unbounded" minOccurs="0">
				<xs:element name="query" type="query" />
				<xs:element name="sql-query" type="sql-query" />
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="entity-name" type="xs:string" />
		<xs:attribute name="name" type="xs:string" />
		<xs:attribute name="proxy" type="xs:string" />
		<xs:attribute name="discriminator-value" type="xs:string" />
		<xs:attribute default="false" name="dynamic-update" type="xs:boolean" />
		<xs:attribute default="false" name="dynamic-insert" type="xs:boolean" />
		<xs:attribute default="false" name="select-before-update"
			type="xs:boolean" />
		<xs:attribute name="extends" type="xs:string" />
		<xs:attribute name="lazy" type="xs:boolean" />
		<xs:attribute name="abstract" type="xs:boolean" />
		<xs:attribute name="persister" type="xs:string" />
		<xs:attribute name="batch-size" type="xs:string" />
		<xs:attribute name="node" type="xs:string" />
	</xs:complexType>

	<!--  JOINED-SUBCLASS -->
	<xs:complexType name="joined-subclass">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta"
				type="meta" />
			<xs:element minOccurs="0" name="subselect" type="xs:string" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="synchronize"
				type="synchronize" />
			<xs:element minOccurs="0" name="comment" type="xs:string" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="tuplizer"
				type="tuplizer" />
			<xs:element name="key" type="key" />
			<xs:choice maxOccurs="unbounded" minOccurs="0">
				<xs:element name="property" type="property" />
				<xs:element name="many-to-one" type="many-to-one" />
				<xs:element name="one-to-one" type="one-to-one" />
				<xs:element name="component" type="component" />
				<xs:element name="dynamic-component" type="dynamic-component" />
				<xs:element name="properties" type="properties" />
				<xs:element name="any" type="any" />
				<xs:element name="map" type="map" />
				<xs:element name="set" type="set" />
				<xs:element name="list" type="list" />
				<xs:element name="bag" type="bag" />
				<xs:element name="idbag" type="idbag" />
				<xs:element name="array" type="array" />
				<xs:element name="primitive-array" type="primitive-array" />
			</xs:choice>
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="joined-subclass" type="joined-subclass" />
			<xs:element minOccurs="0" name="loader" type="loader" />
			<xs:element minOccurs="0" name="sql-insert" type="sql-insert" />
			<xs:element minOccurs="0" name="sql-update" type="sql-update" />
			<xs:element minOccurs="0" name="sql-delete" type="sql-delete" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="resultset"
				type="resultset" />
			<xs:choice maxOccurs="unbounded" minOccurs="0">
				<xs:element name="query" type="query" />
				<xs:element name="sql-query" type="sql-query" />
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="entity-name" type="xs:string" />
		<xs:attribute name="name" type="xs:string" />
		<xs:attribute name="proxy" type="xs:string" />
		<xs:attribute name="table" type="xs:string" />
		<xs:attribute name="schema" type="xs:string" />
		<xs:attribute name="catalog" type="xs:string" />
		<xs:attribute name="subselect" type="xs:string" />
		<xs:attribute default="false" name="dynamic-update" type="xs:boolean" />
		<xs:attribute default="false" name="dynamic-insert" type="xs:boolean" />
		<xs:attribute default="false" name="select-before-update"
			type="xs:boolean" />
		<xs:attribute name="extends" type="xs:string" />
		<xs:attribute name="lazy" type="xs:boolean" />
		<xs:attribute name="abstract" type="xs:boolean" />
		<xs:attribute name="persister" type="xs:string" />
		<xs:attribute name="check" type="xs:string" />
		<xs:attribute name="batch-size" type="xs:string" />
		<xs:attribute name="node" type="xs:string" />
	</xs:complexType>

	<!--  UNION-SUBCLASS -->
	<xs:complexType name="union-subclass">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta"
				type="meta" />
			<xs:element minOccurs="0" name="subselect" type="xs:string" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="synchronize"
				type="synchronize" />
			<xs:element minOccurs="0" name="comment" type="xs:string" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="tuplizer"
				type="tuplizer" />
			<xs:choice maxOccurs="unbounded" minOccurs="0">
				<xs:element name="property" type="property" />
				<xs:element name="many-to-one" type="many-to-one" />
				<xs:element name="one-to-one" type="one-to-one" />
				<xs:element name="component" type="component" />
				<xs:element name="dynamic-component" type="dynamic-component" />
				<xs:element name="properties" type="properties" />
				<xs:element name="any" type="any" />
				<xs:element name="map" type="map" />
				<xs:element name="set" type="set" />
				<xs:element name="list" type="list" />
				<xs:element name="bag" type="bag" />
				<xs:element name="idbag" type="idbag" />
				<xs:element name="array" type="array" />
				<xs:element name="primitive-array" type="primitive-array" />
			</xs:choice>
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="union-subclass" type="union-subclass" />
			<xs:element minOccurs="0" name="loader" type="loader" />
			<xs:element minOccurs="0" name="sql-insert" type="sql-insert" />
			<xs:element minOccurs="0" name="sql-update" type="sql-update" />
			<xs:element minOccurs="0" name="sql-delete" type="sql-delete" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="resultset"
				type="resultset" />
			<xs:choice maxOccurs="unbounded" minOccurs="0">
				<xs:element name="query" type="query" />
				<xs:element name="sql-query" type="sql-query" />
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="entity-name" type="xs:string" />
		<xs:attribute name="name" type="xs:string" />
		<xs:attribute name="proxy" type="xs:string" />
		<xs:attribute name="table" type="xs:string" />
		<xs:attribute name="schema" type="xs:string" />
		<xs:attribute name="catalog" type="xs:string" />
		<xs:attribute name="subselect" type="xs:string" />
		<xs:attribute default="false" name="dynamic-update" type="xs:boolean" />
		<xs:attribute default="false" name="dynamic-insert" type="xs:boolean" />
		<xs:attribute default="false" name="select-before-update"
			type="xs:boolean" />
		<xs:attribute name="extends" type="xs:string" />
		<xs:attribute name="lazy" type="xs:boolean" />
		<xs:attribute name="abstract" type="xs:boolean" />
		<xs:attribute name="persister" type="xs:string" />
		<xs:attribute name="check" type="xs:string" />
		<xs:attribute name="batch-size" type="xs:string" />
		<xs:attribute name="node" type="xs:string" />
	</xs:complexType>

	<!--  PROPERTY -->
	<xs:complexType name="property">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta"
				type="meta" />
			<xs:choice maxOccurs="unbounded" minOccurs="0">
				<xs:element name="column" type="column" />
				<xs:element name="formula" type="xs:string" />
			</xs:choice>
			<xs:element minOccurs="0" name="type" type="type" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="node" type="xs:string" />
		<xs:attribute name="access" type="xs:string" />
		<xs:attribute name="type" type="xs:string" />
		<xs:attribute name="column" type="xs:string" />
		<xs:attribute name="length" type="xs:string" />
		<xs:attribute name="precision" type="xs:string" />
		<xs:attribute name="scale" type="xs:string" />
		<xs:attribute name="not-null" type="xs:boolean" />
		<xs:attribute default="false" name="unique" type="xs:boolean" />
		<xs:attribute name="unique-key" type="xs:string" />
		<xs:attribute name="index" type="xs:string" />
		<xs:attribute name="update" type="xs:boolean" />
		<xs:attribute name="insert" type="xs:boolean" />
		<xs:attribute default="true" name="optimistic-lock" type="xs:boolean" />
		<xs:attribute name="formula" type="xs:string" />
		<xs:attribute default="false" name="lazy" type="xs:boolean" />
		<xs:attribute default="never" name="generated" type="generated" />
	</xs:complexType>

	<!--  TYPE -->
	<xs:complexType name="type">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="param"
				type="param" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required" />
	</xs:complexType>

	<!--  MANY-TO-ONE -->
	<xs:complexType name="many-to-one">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta"
				type="meta" />
			<xs:choice maxOccurs="unbounded" minOccurs="0">
				<xs:element name="column" type="column" />
				<xs:element name="formula" type="xs:string" />
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="access" type="xs:string" />
		<xs:attribute name="class" type="xs:string" />
		<xs:attribute name="entity-name" type="xs:string" />
		<xs:attribute name="column" type="xs:string" />
		<xs:attribute name="not-null" type="xs:boolean" />
		<xs:attribute default="false" name="unique" type="xs:boolean" />
		<xs:attribute name="unique-key" type="xs:string" />
		<xs:attribute name="index" type="xs:string" />
		<xs:attribute name="cascade" type="xs:string" />
		<xs:attribute name="outer-join" type="outerjoin" />
		<xs:attribute name="fetch" type="fetch_join_select" />
		<xs:attribute default="true" name="update" type="xs:boolean" />
		<xs:attribute default="true" name="insert" type="xs:boolean" />
		<xs:attribute default="true" name="optimistic-lock" type="xs:boolean" />
		<xs:attribute name="foreign-key" type="xs:string" />
		<xs:attribute name="property-ref" type="xs:string" />
		<xs:attribute name="formula" type="xs:string" />
		<xs:attribute name="lazy" type="lazy" />
		<xs:attribute default="exception" name="not-found" type="notfound" />
		<xs:attribute name="node" type="xs:string" />
		<xs:attribute default="true" name="embed-xml" type="xs:boolean" />
	</xs:complexType>

	<!--  ONE-TO-ONE -->
	<xs:complexType name="one-to-one">
		<xs:choice>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta"
				type="meta" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="formula"
				type="xs:string" />
		</xs:choice>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="formula" type="xs:string" />
		<xs:attribute name="access" type="xs:string" />
		<xs:attribute name="class" type="xs:string" />
		<xs:attribute name="entity-name" type="xs:string" />
		<xs:attribute name="cascade" type="xs:string" />
		<xs:attribute name="outer-join" type="outerjoin" />
		<xs:attribute name="fetch" type="fetch_join_select" />
		<xs:attribute default="false" name="constrained" type="xs:boolean" />
		<xs:attribute name="foreign-key" type="xs:string" />
		<xs:attribute name="property-ref" type="xs:string" />
		<xs:attribute name="lazy" type="lazy" />
		<xs:attribute name="node" type="xs:string" />
		<xs:attribute default="true" name="embed-xml" type="xs:boolean" />
	</xs:complexType>

	<!--  KEY-PROPERTY -->
	<xs:complexType name="key-property">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta"
				type="meta" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="column"
				type="column" />
			<xs:element minOccurs="0" name="type" type="type" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="access" type="xs:string" />
		<xs:attribute name="type" type="xs:string" />
		<xs:attribute name="column" type="xs:string" />
		<xs:attribute name="length" type="xs:string" />
		<xs:attribute name="node" type="xs:string" />
	</xs:complexType>

	<!--  KEY-MANY-TO-ONE -->
	<xs:complexType name="key-many-to-one">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta"
				type="meta" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="column"
				type="column" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="access" type="xs:string" />
		<xs:attribute name="class" type="xs:string" />
		<xs:attribute name="entity-name" type="xs:string" />
		<xs:attribute name="column" type="xs:string" />
		<xs:attribute name="foreign-key" type="xs:string" />
		<xs:attribute name="lazy" type="lazy_false_proxy" />
	</xs:complexType>

	<!--  ANY -->
	<xs:complexType name="any">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta"
				type="meta" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta-value"
				type="meta-value" />
			<xs:element name="column" type="column" />
			<xs:element maxOccurs="unbounded" name="column" type="column" />
		</xs:sequence>
		<xs:attribute name="id-type" type="xs:string" use="required" />
		<xs:attribute name="meta-type" type="xs:string" />
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="access" type="xs:string" />
		<xs:attribute default="true" name="insert" type="xs:boolean" />
		<xs:attribute default="true" name="update" type="xs:boolean" />
		<xs:attribute name="cascade" type="xs:string" />
		<xs:attribute name="index" type="xs:string" />
		<xs:attribute default="true" name="optimistic-lock" type="xs:boolean" />
		<xs:attribute default="false" name="lazy" type="xs:boolean" />
		<xs:attribute name="node" type="xs:string" />
	</xs:complexType>

	<!--  META-VALUE -->
	<xs:complexType name="meta-value">
		<xs:attribute name="value" type="xs:string" use="required" />
		<xs:attribute name="class" type="xs:string" use="required" />
	</xs:complexType>


	<!-- COMPONENT -->
	<xs:complexType name="component">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta"
				type="meta" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="tuplizer"
				type="tuplizer" />
			<xs:element minOccurs="0" name="parent" type="parent" />
			<xs:choice maxOccurs="unbounded" minOccurs="0">
				<xs:element name="property" type="property" />
				<xs:element name="many-to-one" type="many-to-one" />
				<xs:element name="one-to-one" type="one-to-one" />
				<xs:element name="component" type="component" />
				<xs:element name="dynamic-component" type="dynamic-component" />
				<xs:element name="any" type="any" />
				<xs:element name="map" type="map" />
				<xs:element name="set" type="set" />
				<xs:element name="list" type="list" />
				<xs:element name="bag" type="bag" />
				<xs:element name="array" type="array" />
				<xs:element name="primitive-array" type="primitive-array" />
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="class" type="xs:string" />
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="access" type="xs:string" />
		<xs:attribute default="false" name="unique" type="xs:boolean" />
		<xs:attribute default="true" name="update" type="xs:boolean" />
		<xs:attribute default="true" name="insert" type="xs:boolean" />
		<xs:attribute default="false" name="lazy" type="xs:boolean" />
		<xs:attribute default="true" name="optimistic-lock" type="xs:boolean" />
		<xs:attribute name="node" type="xs:string" />
	</xs:complexType>

	<!--  DYNAMIC-COMPONENT -->
	<xs:complexType name="dynamic-component">
		<xs:choice maxOccurs="unbounded" minOccurs="0">
			<xs:element name="property" type="property" />
			<xs:element name="many-to-one" type="many-to-one" />
			<xs:element name="one-to-one" type="one-to-one" />
			<xs:element name="component" type="component" />
			<xs:element name="dynamic-component" type="dynamic-component" />
			<xs:element name="any" type="any" />
			<xs:element name="map" type="map" />
			<xs:element name="set" type="set" />
			<xs:element name="list" type="list" />
			<xs:element name="bag" type="bag" />
			<xs:element name="array" type="array" />
			<xs:element name="primitive-array" type="primitive-array" />
		</xs:choice>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="access" type="xs:string" />
		<xs:attribute default="false" name="unique" type="xs:boolean" />
		<xs:attribute default="true" name="update" type="xs:boolean" />
		<xs:attribute default="true" name="insert" type="xs:boolean" />
		<xs:attribute default="true" name="optimistic-lock" type="xs:boolean" />
		<xs:attribute name="node" type="xs:string" />
	</xs:complexType>

	<!--  PROPERTIES -->
	<xs:complexType name="properties">
		<xs:choice maxOccurs="unbounded" minOccurs="0">
			<xs:element name="property" type="property" />
			<xs:element name="many-to-one" type="many-to-one" />
			<xs:element name="component" type="component" />
			<xs:element name="dynamic-component" type="dynamic-component" />
		</xs:choice>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute default="false" name="unique" type="xs:boolean" />
		<xs:attribute default="true" name="insert" type="xs:boolean" />
		<xs:attribute default="true" name="update" type="xs:boolean" />
		<xs:attribute default="true" name="optimistic-lock" type="xs:boolean" />
		<xs:attribute name="node" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="parent">
		<xs:attribute name="name" type="xs:string" use="required" />
	</xs:complexType>

	<!--  MAP -->
	<xs:complexType name="map">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta"
				type="meta" />
			<xs:element minOccurs="0" name="subselect" type="xs:string" />
			<xs:element minOccurs="0" name="cache" type="cache" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="synchronize"
				type="synchronize" />
			<xs:element minOccurs="0" name="comment" type="xs:string" />
			<xs:element name="key" type="key" />
			<xs:choice>
				<xs:element name="map-key" type="map-key" />
				<xs:element name="composite-map-key" type="composite-map-key" />
				<xs:element name="map-key-many-to-many" type="map-key-many-to-many" />
				<xs:element name="index" type="index" />
				<xs:element name="composite-index" type="composite-index" />
				<xs:element name="index-many-to-many" type="index-many-to-many" />
				<xs:element name="index-many-to-any" type="index-many-to-any" />
			</xs:choice>
			<xs:choice>
				<xs:element name="element" type="element" />
				<xs:element name="one-to-many" type="one-to-many" />
				<xs:element name="many-to-many" type="many-to-many" />
				<xs:element name="composite-element" type="composite-element" />
				<xs:element name="many-to-any" type="many-to-any" />
			</xs:choice>
			<xs:element minOccurs="0" name="loader" type="loader" />
			<xs:element minOccurs="0" name="sql-insert" type="sql-insert" />
			<xs:element minOccurs="0" name="sql-update" type="sql-update" />
			<xs:element minOccurs="0" name="sql-delete" type="sql-delete" />
			<xs:element minOccurs="0" name="sql-delete-all" type="sql-delete-all" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="filter"
				type="filter" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="access" type="xs:string" />
		<xs:attribute name="table" type="xs:string" />
		<xs:attribute name="schema" type="xs:string" />
		<xs:attribute name="subselect" type="xs:string" />
		<xs:attribute name="catalog" type="xs:string" />
		<xs:attribute name="lazy" type="lazy_true_false_extra" />
		<xs:attribute default="true" name="mutable" type="xs:boolean" />
		<xs:attribute default="false" name="inverse" type="xs:boolean" />
		<xs:attribute default="unsorted" name="sort" type="xs:string" />
		<xs:attribute name="cascade" type="xs:string" />
		<xs:attribute name="order-by" type="xs:string" />
		<xs:attribute name="where" type="xs:string" />
		<xs:attribute name="batch-size" type="xs:string" />
		<xs:attribute name="outer-join" type="outerjoin" />
		<xs:attribute name="fetch" type="fetch" />
		<xs:attribute name="check" type="xs:string" />
		<xs:attribute name="persister" type="xs:string" />
		<xs:attribute name="collection-type" type="xs:string" />
		<xs:attribute default="true" name="optimistic-lock" type="xs:boolean" />
		<xs:attribute name="node" type="xs:string" />
		<xs:attribute default="true" name="embed-xml" type="xs:boolean" />
	</xs:complexType>

	<!-- SET -->
	<xs:complexType name="set">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta"
				type="meta" />
			<xs:element minOccurs="0" name="subselect" type="xs:string" />
			<xs:element minOccurs="0" name="cache" type="cache" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="synchronize"
				type="synchronize" />
			<xs:element minOccurs="0" name="comment" type="xs:string" />
			<xs:element name="key" type="key" />
			<xs:choice>
				<xs:element name="element" type="element" />
				<xs:element name="one-to-many" type="one-to-many" />
				<xs:element name="many-to-many" type="many-to-many" />
				<xs:element name="composite-element" type="composite-element" />
				<xs:element name="many-to-any" type="many-to-any" />
			</xs:choice>
			<xs:element minOccurs="0" name="loader" type="loader" />
			<xs:element minOccurs="0" name="sql-insert" type="sql-insert" />
			<xs:element minOccurs="0" name="sql-update" type="sql-update" />
			<xs:element minOccurs="0" name="sql-delete" type="sql-delete" />
			<xs:element minOccurs="0" name="sql-delete-all" type="sql-delete-all" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="filter"
				type="filter" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="access" type="xs:string" />
		<xs:attribute name="table" type="xs:string" />
		<xs:attribute name="schema" type="xs:string" />
		<xs:attribute name="catalog" type="xs:string" />
		<xs:attribute name="subselect" type="xs:string" />
		<xs:attribute name="lazy" type="lazy_true_false_extra" />
		<xs:attribute default="unsorted" name="sort" type="xs:string" />
		<xs:attribute default="false" name="inverse" type="xs:boolean" />
		<xs:attribute default="true" name="mutable" type="xs:boolean" />
		<xs:attribute name="cascade" type="xs:string" />
		<xs:attribute name="order-by" type="xs:string" />
		<xs:attribute name="where" type="xs:string" />
		<xs:attribute name="batch-size" type="xs:string" />
		<xs:attribute name="outer-join" type="outerjoin" />
		<xs:attribute name="fetch" type="fetch" />
		<xs:attribute name="persister" type="xs:string" />
		<xs:attribute name="collection-type" type="xs:string" />
		<xs:attribute name="check" type="xs:string" />
		<xs:attribute default="true" name="optimistic-lock" type="xs:boolean" />
		<xs:attribute name="node" type="xs:string" />
		<xs:attribute default="true" name="embed-xml" type="xs:boolean" />
	</xs:complexType>


	<!--
		TRY Extension <xs:complexType name="bag01"> <xs:complexContent>
		<xs:extension base="collection"> <xs:sequence> <xs:element
		name="testE" type="bag"></xs:element> </xs:sequence> <xs:attribute
		name="test" type="xs:string"></xs:attribute> </xs:extension>
		</xs:complexContent> </xs:complexType>
	-->

	<!-- CB refactor COLLECTION -->
	<xs:complexType name="collection">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta"
				type="meta" />
			<xs:element minOccurs="0" name="subselect" type="xs:string" />
			<xs:element minOccurs="0" name="cache" type="cache" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="synchronize"
				type="synchronize" />
			<xs:element minOccurs="0" name="comment" type="xs:string" />
			<xs:element name="key" type="key" />
			<xs:choice>
				<xs:element name="element" type="element" />
				<xs:element name="one-to-many" type="one-to-many" />
				<xs:element name="many-to-many" type="many-to-many" />
				<xs:element name="composite-element" type="composite-element" />
				<xs:element name="many-to-any" type="many-to-any" />
			</xs:choice>
			<xs:element minOccurs="0" name="loader" type="loader" />
			<xs:element minOccurs="0" name="sql-insert" type="sql-insert" />
			<xs:element minOccurs="0" name="sql-update" type="sql-update" />
			<xs:element minOccurs="0" name="sql-delete" type="sql-delete" />
			<xs:element minOccurs="0" name="sql-delete-all" type="sql-delete-all" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="filter"
				type="filter" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="access" type="xs:string" />
		<xs:attribute name="table" type="xs:string" />
		<xs:attribute name="schema" type="xs:string" />
		<xs:attribute name="catalog" type="xs:string" />
		<xs:attribute name="subselect" type="xs:string" />
		<xs:attribute name="lazy" type="lazy_true_false_extra" />
		<xs:attribute default="false" name="inverse" type="xs:boolean" />
		<xs:attribute default="true" name="mutable" type="xs:boolean" />
		<xs:attribute name="cascade" type="xs:string" />
		<xs:attribute name="order-by" type="xs:string" />
		<xs:attribute name="where" type="xs:string" />
		<xs:attribute name="batch-size" type="xs:string" />
		<xs:attribute name="outer-join" type="outerjoin" />
		<xs:attribute name="fetch" type="fetch" />
		<xs:attribute name="persister" type="xs:string" />
		<xs:attribute name="collection-type" type="xs:string" />
		<xs:attribute name="check" type="xs:string" />
		<xs:attribute default="true" name="optimistic-lock" type="xs:boolean" />
		<xs:attribute name="node" type="xs:string" />
		<xs:attribute default="true" name="embed-xml" type="xs:boolean" />
	</xs:complexType>

	<!-- BAG -->
	<xs:complexType name="bag">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta"
				type="meta" />
			<xs:element minOccurs="0" name="subselect" type="xs:string" />
			<xs:element minOccurs="0" name="cache" type="cache" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="synchronize"
				type="synchronize" />
			<xs:element minOccurs="0" name="comment" type="xs:string" />
			<xs:element name="key" type="key" />
			<xs:choice>
				<xs:element name="element" type="element" />
				<xs:element name="one-to-many" type="one-to-many" />
				<xs:element name="many-to-many" type="many-to-many" />
				<xs:element name="composite-element" type="composite-element" />
				<xs:element name="many-to-any" type="many-to-any" />
			</xs:choice>
			<xs:element minOccurs="0" name="loader" type="loader" />
			<xs:element minOccurs="0" name="sql-insert" type="sql-insert" />
			<xs:element minOccurs="0" name="sql-update" type="sql-update" />
			<xs:element minOccurs="0" name="sql-delete" type="sql-delete" />
			<xs:element minOccurs="0" name="sql-delete-all" type="sql-delete-all" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="filter"
				type="filter" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="access" type="xs:string" />
		<xs:attribute name="table" type="xs:string" />
		<xs:attribute name="schema" type="xs:string" />
		<xs:attribute name="catalog" type="xs:string" />
		<xs:attribute name="subselect" type="xs:string" />
		<xs:attribute name="lazy" type="lazy_true_false_extra" />
		<xs:attribute default="false" name="inverse" type="xs:boolean" />
		<xs:attribute default="true" name="mutable" type="xs:boolean" />
		<xs:attribute name="cascade" type="xs:string" />
		<xs:attribute name="order-by" type="xs:string" />
		<xs:attribute name="where" type="xs:string" />
		<xs:attribute name="batch-size" type="xs:string" />
		<xs:attribute name="outer-join" type="outerjoin" />
		<xs:attribute name="fetch" type="fetch" />
		<xs:attribute name="persister" type="xs:string" />
		<xs:attribute name="collection-type" type="xs:string" />
		<xs:attribute name="check" type="xs:string" />
		<xs:attribute default="true" name="optimistic-lock" type="xs:boolean" />
		<xs:attribute name="node" type="xs:string" />
		<xs:attribute default="true" name="embed-xml" type="xs:boolean" />
	</xs:complexType>

	<!-- IDBAG -->
	<xs:complexType name="idbag">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta"
				type="meta" />
			<xs:element minOccurs="0" name="subselect" type="xs:string" />
			<xs:element minOccurs="0" name="cache" type="cache" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="synchronize"
				type="synchronize" />
			<xs:element minOccurs="0" name="comment" type="xs:string" />
			<xs:element name="collection-id" type="collection-id" />
			<xs:element name="key" type="key" />
			<xs:choice>
				<xs:element name="element" type="element" />
				<xs:element name="many-to-many" type="many-to-many" />
				<xs:element name="composite-element" type="composite-element" />
				<xs:element name="many-to-any" type="many-to-any" />
			</xs:choice>
			<xs:element minOccurs="0" name="loader" type="loader" />
			<xs:element minOccurs="0" name="sql-insert" type="sql-insert" />
			<xs:element minOccurs="0" name="sql-update" type="sql-update" />
			<xs:element minOccurs="0" name="sql-delete" type="sql-delete" />
			<xs:element minOccurs="0" name="sql-delete-all" type="sql-delete-all" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="filter"
				type="filter" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="access" type="xs:string" />
		<xs:attribute name="table" type="xs:string" />
		<xs:attribute name="schema" type="xs:string" />
		<xs:attribute name="catalog" type="xs:string" />
		<xs:attribute name="subselect" type="xs:string" />
		<xs:attribute name="lazy" type="lazy_true_false_extra" />
		<xs:attribute default="true" name="mutable" type="xs:boolean" />
		<xs:attribute name="cascade" type="xs:string" />
		<xs:attribute name="order-by" type="xs:string" />
		<xs:attribute name="where" type="xs:string" />
		<xs:attribute name="batch-size" type="xs:string" />
		<xs:attribute name="outer-join" type="outerjoin" />
		<xs:attribute name="fetch" type="fetch" />
		<xs:attribute name="persister" type="xs:string" />
		<xs:attribute name="collection-type" type="xs:string" />
		<xs:attribute name="check" type="xs:string" />
		<xs:attribute default="true" name="optimistic-lock" type="xs:boolean" />
		<xs:attribute name="node" type="xs:string" />
		<xs:attribute default="true" name="embed-xml" type="xs:boolean" />
	</xs:complexType>

	<!-- LIST -->
	<xs:complexType name="list">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta"
				type="meta" />
			<xs:element minOccurs="0" name="subselect" type="xs:string" />
			<xs:element minOccurs="0" name="cache" type="cache" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="synchronize"
				type="synchronize" />
			<xs:element minOccurs="0" name="comment" type="xs:string" />
			<xs:element name="key" type="key" />
			<xs:choice>
				<xs:element name="index" type="index" />
				<xs:element name="list-index" type="list-index" />
			</xs:choice>
			<xs:choice>
				<xs:element name="element" type="element" />
				<xs:element name="one-to-many" type="one-to-many" />
				<xs:element name="many-to-many" type="many-to-many" />
				<xs:element name="composite-element" type="composite-element" />
				<xs:element name="many-to-any" type="many-to-any" />
			</xs:choice>
			<xs:element minOccurs="0" name="loader" type="loader" />
			<xs:element minOccurs="0" name="sql-insert" type="sql-insert" />
			<xs:element minOccurs="0" name="sql-update" type="sql-update" />
			<xs:element minOccurs="0" name="sql-delete" type="sql-delete" />
			<xs:element minOccurs="0" name="sql-delete-all" type="sql-delete-all" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="filter"
				type="filter" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="access" type="xs:string" />
		<xs:attribute name="table" type="xs:string" />
		<xs:attribute name="schema" type="xs:string" />
		<xs:attribute name="catalog" type="xs:string" />
		<xs:attribute name="subselect" type="xs:string" />
		<xs:attribute name="lazy" type="lazy_true_false_extra" />
		<xs:attribute default="false" name="inverse" type="xs:boolean" />
		<xs:attribute default="true" name="mutable" type="xs:boolean" />
		<xs:attribute name="cascade" type="xs:string" />
		<xs:attribute name="where" type="xs:string" />
		<xs:attribute name="batch-size" type="xs:string" />
		<xs:attribute name="outer-join" type="outerjoin" />
		<xs:attribute name="fetch" type="fetch" />
		<xs:attribute name="persister" type="xs:string" />
		<xs:attribute name="collection-type" type="xs:string" />
		<xs:attribute name="check" type="xs:string" />
		<xs:attribute default="true" name="optimistic-lock" type="xs:boolean" />
		<xs:attribute name="node" type="xs:string" />
		<xs:attribute default="true" name="embed-xml" type="xs:boolean" />
	</xs:complexType>

	<xs:complexType name="array">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta"
				type="meta" />
			<xs:element minOccurs="0" name="subselect" type="xs:string" />
			<xs:element minOccurs="0" name="cache" type="cache" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="synchronize"
				type="synchronize" />
			<xs:element minOccurs="0" name="comment" type="xs:string" />
			<xs:element name="key" type="key" />
			<xs:choice>
				<xs:element name="index" type="index" />
				<xs:element name="list-index" type="list-index" />
			</xs:choice>
			<xs:choice>
				<xs:element name="element" type="element" />
				<xs:element name="one-to-many" type="one-to-many" />
				<xs:element name="many-to-many" type="many-to-many" />
				<xs:element name="composite-element" type="composite-element" />
				<xs:element name="many-to-any" type="many-to-any" />
			</xs:choice>
			<xs:element minOccurs="0" name="loader" type="loader" />
			<xs:element minOccurs="0" name="sql-insert" type="sql-insert" />
			<xs:element minOccurs="0" name="sql-update" type="sql-update" />
			<xs:element minOccurs="0" name="sql-delete" type="sql-delete" />
			<xs:element minOccurs="0" name="sql-delete-all" type="sql-delete-all" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="access" type="xs:string" />
		<xs:attribute name="table" type="xs:string" />
		<xs:attribute name="schema" type="xs:string" />
		<xs:attribute name="catalog" type="xs:string" />
		<xs:attribute name="subselect" type="xs:string" />
		<xs:attribute default="false" name="inverse" type="xs:boolean" />
		<xs:attribute default="true" name="mutable" type="xs:boolean" />
		<xs:attribute name="element-class" type="xs:string" />
		<xs:attribute name="cascade" type="xs:string" />
		<xs:attribute name="where" type="xs:string" />
		<xs:attribute name="batch-size" type="xs:string" />
		<xs:attribute name="outer-join" type="outerjoin" />
		<xs:attribute name="fetch" type="fetch" />
		<xs:attribute name="persister" type="xs:string" />
		<xs:attribute name="collection-type" type="xs:string" />
		<xs:attribute name="check" type="xs:string" />
		<xs:attribute default="true" name="optimistic-lock" type="xs:boolean" />
		<xs:attribute name="node" type="xs:string" />
		<xs:attribute default="true" name="embed-xml" type="xs:boolean" />
	</xs:complexType>

	<xs:complexType name="primitive-array">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta"
				type="meta" />
			<xs:element minOccurs="0" name="subselect" type="xs:string" />
			<xs:element minOccurs="0" name="cache" type="cache" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="synchronize"
				type="synchronize" />
			<xs:element minOccurs="0" name="comment" type="xs:string" />
			<xs:element name="key" type="key" />
			<xs:choice>
				<xs:element name="index" type="index" />
				<xs:element name="list-index" type="list-index" />
			</xs:choice>
			<xs:element name="element" type="element" />
			<xs:element minOccurs="0" name="loader" type="loader" />
			<xs:element minOccurs="0" name="sql-insert" type="sql-insert" />
			<xs:element minOccurs="0" name="sql-update" type="sql-update" />
			<xs:element minOccurs="0" name="sql-delete" type="sql-delete" />
			<xs:element minOccurs="0" name="sql-delete-all" type="sql-delete-all" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="access" type="xs:string" />
		<xs:attribute name="table" type="xs:string" />
		<xs:attribute name="schema" type="xs:string" />
		<xs:attribute name="catalog" type="xs:string" />
		<xs:attribute name="subselect" type="xs:string" />
		<xs:attribute default="true" name="mutable" type="xs:boolean" />
		<xs:attribute name="where" type="xs:string" />
		<xs:attribute name="batch-size" type="xs:string" />
		<xs:attribute name="outer-join" type="outerjoin" />
		<xs:attribute name="fetch" type="fetch" />
		<xs:attribute name="persister" type="xs:string" />
		<xs:attribute name="collection-type" type="xs:string" />
		<xs:attribute name="check" type="xs:string" />
		<xs:attribute default="true" name="optimistic-lock" type="xs:boolean" />
		<xs:attribute name="node" type="xs:string" />
		<xs:attribute default="true" name="embed-xml" type="xs:boolean" />
	</xs:complexType>

	<!-- ELEMENT -->
	<xs:complexType name="element">
		<xs:choice maxOccurs="unbounded" minOccurs="0">
			<xs:element name="column" type="column" />
			<xs:element name="formula" type="xs:string" />
		</xs:choice>
		<xs:attribute name="column" type="xs:string" />
		<xs:attribute name="node" type="xs:string" />
		<xs:attribute name="formula" type="xs:string" />
		<xs:attribute name="type" type="xs:string" use="required" />
		<xs:attribute name="length" type="xs:string" />
		<xs:attribute name="precision" type="xs:string" />
		<xs:attribute name="scale" type="xs:string" />
		<xs:attribute default="false" name="not-null" type="xs:boolean" />
		<xs:attribute default="false" name="unique" type="xs:boolean" />
	</xs:complexType>
	<!--  ONE-TO-MANY -->
	<xs:complexType name="one-to-many">
		<xs:attribute name="class" type="xs:string" />
		<xs:attribute default="exception" name="not-found" type="notfound" />
		<xs:attribute name="node" type="xs:string" />
		<xs:attribute default="true" name="embed-xml" type="xs:boolean" />
		<xs:attribute name="entity-name" type="xs:string" />
	</xs:complexType>

	<!-- MANY-TO-MANY -->
	<xs:complexType name="many-to-many">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta"
				type="meta" />
			<xs:choice maxOccurs="unbounded" minOccurs="0">
				<xs:element name="column" type="column" />
				<xs:element name="formula" type="xs:string" />
			</xs:choice>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="filter"
				type="filter" />
		</xs:sequence>
		<xs:attribute name="class" type="xs:string" />
		<xs:attribute name="node" type="xs:string" />
		<xs:attribute default="true" name="embed-xml" type="xs:boolean" />
		<xs:attribute name="entity-name" type="xs:string" />
		<xs:attribute name="column" type="xs:string" />
		<xs:attribute name="formula" type="xs:string" />
		<xs:attribute default="exception" name="not-found" type="notfound" />
		<xs:attribute name="outer-join" type="outerjoin" />
		<xs:attribute name="fetch" type="fetch_join_select" />
		<xs:attribute name="lazy" type="lazy_false_proxy" />
		<xs:attribute name="foreign-key" type="xs:string" />
		<xs:attribute default="false" name="unique" type="xs:boolean" />
		<xs:attribute name="where" type="xs:string" />
		<xs:attribute name="property-ref" type="xs:string" />
	</xs:complexType>

	<!-- COMPOSITE-ELEMENT -->
	<xs:complexType name="composite-element">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta"
				type="meta" />
			<xs:element minOccurs="0" name="parent" type="parent" />
			<xs:choice maxOccurs="unbounded" minOccurs="0">
				<xs:element name="property" type="property" />
				<xs:element name="many-to-one" type="many-to-one" />
				<xs:element name="any" type="any" />
				<xs:element name="nested-composite-element" type="nested-composite-element" />
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="class" type="xs:string" use="required" />
		<xs:attribute name="node" type="xs:string" />
	</xs:complexType>

	<!-- NESTED-COMPOSITE-ELEMENT -->
	<xs:complexType name="nested-composite-element">
		<xs:sequence>
			<xs:element minOccurs="0" name="parent" type="parent" />
			<xs:choice maxOccurs="unbounded" minOccurs="0">
				<xs:element name="property" type="property" />
				<xs:element name="many-to-one" type="many-to-one" />
				<xs:element name="any" type="any" />
				<xs:element name="nested-composite-element" type="nested-composite-element" />
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="class" type="xs:string" use="required" />
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="access" type="xs:string" />
		<xs:attribute name="node" type="xs:string" />
	</xs:complexType>

	<!-- KEY -->
	<xs:complexType name="key">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="column"
				type="column" />
		</xs:sequence>
		<xs:attribute name="column" type="xs:string" />
		<xs:attribute name="property-ref" type="xs:string" />
		<xs:attribute name="foreign-key" type="xs:string" />
		<xs:attribute default="noaction" name="on-delete">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="cascade" />
					<xs:enumeration value="noaction" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="not-null" type="xs:boolean" />
		<xs:attribute name="update" type="xs:boolean" />
		<xs:attribute name="unique" type="xs:boolean" />
	</xs:complexType>

	<!--  LIST-INDEX -->
	<xs:complexType name="list-index">
		<xs:sequence>
			<xs:element minOccurs="0" name="column" type="column" />
		</xs:sequence>
		<xs:attribute name="column" type="xs:string" />
		<xs:attribute default="0" name="base" type="xs:string" />
	</xs:complexType>

	<!-- MAP-KEY -->
	<xs:complexType name="map-key">
		<xs:choice maxOccurs="unbounded" minOccurs="0">
			<xs:element name="column" type="column" />
			<xs:element name="formula" type="xs:string" />
		</xs:choice>
		<xs:attribute name="column" type="xs:string" />
		<xs:attribute name="formula" type="xs:string" />
		<xs:attribute name="type" type="xs:string" use="required" />
		<xs:attribute name="length" type="xs:string" />
		<xs:attribute name="node" type="xs:string" />
	</xs:complexType>

	<!-- INDEX -->
	<xs:complexType name="index">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="column"
				type="column" />
		</xs:sequence>
		<xs:attribute name="column" type="xs:string" />
		<xs:attribute name="type" type="xs:string" />
		<xs:attribute name="length" type="xs:string" />
	</xs:complexType>

	<!-- MAP-KEY-MANY-TO-MANY -->
	<xs:complexType name="map-key-many-to-many">
		<xs:choice maxOccurs="unbounded" minOccurs="0">
			<xs:element name="column" type="column" />
			<xs:element name="formula" type="xs:string" />
		</xs:choice>
		<xs:attribute name="class" type="xs:string" />
		<xs:attribute name="entity-name" type="xs:string" />
		<xs:attribute name="column" type="xs:string" />
		<xs:attribute name="formula" type="xs:string" />
		<xs:attribute name="foreign-key" type="xs:string" />
	</xs:complexType>

	<!-- INDEX-MANY-TO-MANY -->
	<xs:complexType name="index-many-to-many">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="column"
				type="column" />
		</xs:sequence>
		<xs:attribute name="class" type="xs:string" use="required" />
		<xs:attribute name="entity-name" type="xs:string" />
		<xs:attribute name="column" type="xs:string" />
		<xs:attribute name="foreign-key" type="xs:string" />
	</xs:complexType>

	<!-- COMPOSITE-MAP-KEY -->
	<xs:complexType name="composite-map-key">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="key-property" type="key-property" />
			<xs:element name="key-many-to-one" type="key-many-to-one" />
		</xs:choice>
		<xs:attribute name="class" type="xs:string" use="required" />
	</xs:complexType>

	<!-- COMPOSITE-INDEX -->
	<xs:complexType name="composite-index">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="key-property" type="key-property" />
			<xs:element name="key-many-to-one" type="key-many-to-one" />
		</xs:choice>
		<xs:attribute name="class" type="xs:string" use="required" />
	</xs:complexType>

	<!-- MANY-TO-ANY -->
	<xs:complexType name="many-to-any">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta-value"
				type="meta-value" />
			<xs:element name="column" type="column" />
			<xs:element maxOccurs="unbounded" name="column" type="column" />
		</xs:sequence>
		<xs:attribute name="id-type" type="xs:string" use="required" />
		<xs:attribute name="meta-type" type="xs:string" />
	</xs:complexType>

	<!-- INDEX-MANY-TO-MANY -->
	<xs:complexType name="index-many-to-any">
		<xs:sequence>
			<xs:element name="column" type="column" />
			<xs:element maxOccurs="unbounded" name="column" type="column" />
		</xs:sequence>
		<xs:attribute name="id-type" type="xs:string" use="required" />
		<xs:attribute name="meta-type" type="xs:string" />
	</xs:complexType>

	<!-- COLLECTION-ID -->
	<xs:complexType name="collection-id">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="meta"
				type="meta" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="column"
				type="column" />
			<xs:element name="generator" type="generator" />
		</xs:sequence>
		<xs:attribute name="column" type="xs:string" use="required" />
		<xs:attribute name="type" type="xs:string" use="required" />
		<xs:attribute name="length" type="xs:string" />
	</xs:complexType>

	<!-- GENERATOR -->
	<xs:complexType name="generator">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="param"
				type="param" />
		</xs:sequence>
		<xs:attribute name="class" type="xs:string" use="required" />
	</xs:complexType>

	<!-- PARAM -->
	<xs:complexType name="param">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string" use="required" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!-- COLUMN -->
	<xs:complexType name="column">
		<xs:sequence>
			<xs:element minOccurs="0" name="comment" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="length" type="xs:string" />
		<xs:attribute name="precision" type="xs:string" />
		<xs:attribute name="scale" type="xs:string" />
		<xs:attribute name="not-null" type="xs:boolean" />
		<xs:attribute name="unique" type="xs:boolean" />
		<xs:attribute name="unique-key" type="xs:string" />
		<xs:attribute name="sql-type" type="xs:string" />
		<xs:attribute name="index" type="xs:string" />
		<xs:attribute name="check" type="xs:string" />
		<xs:attribute name="default" type="xs:string" />
	</xs:complexType>

	<!-- CACHE -->
	<xs:complexType name="cache">
		<xs:attribute name="usage" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="read-only" />
					<xs:enumeration value="read-write" />
					<xs:enumeration value="nonstrict-read-write" />
					<xs:enumeration value="transactional" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="region" type="xs:string" />
		<xs:attribute default="all" name="include">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="all" />
					<xs:enumeration value="non-lazy" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<!-- LOADER -->
	<xs:complexType name="loader">
		<xs:attribute name="query-ref" type="xs:string" use="required" />
	</xs:complexType>

	<!-- QUERY -->
	<xs:complexType mixed="true" name="query">
		<xs:choice maxOccurs="unbounded" minOccurs="0">
			<xs:element name="query-param" type="query-param" />
		</xs:choice>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="flush-mode" type="flushmode" />
		<xs:attribute default="false" name="cacheable" type="xs:boolean" />
		<xs:attribute name="cache-region" type="xs:string" />
		<xs:attribute name="fetch-size" type="xs:string" />
		<xs:attribute name="timeout" type="xs:string" />
		<xs:attribute name="cache-mode" type="cachemode" />
		<xs:attribute name="read-only" type="xs:boolean" />
		<xs:attribute name="comment" type="xs:string" />
	</xs:complexType>

	<!-- SQL-QUERY -->
	<xs:complexType mixed="true" name="sql-query">
		<xs:choice maxOccurs="unbounded" minOccurs="0">
			<xs:element name="return-scalar" type="return-scalar" />
			<xs:element name="return" type="return" />
			<xs:element name="return-join" type="return-join" />
			<xs:element name="load-collection" type="load-collection" />
			<xs:element name="synchronize" type="synchronize" />
			<xs:element name="query-param" type="query-param" />
		</xs:choice>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="resultset-ref" type="xs:string" />
		<xs:attribute name="flush-mode" type="flushmode" />
		<xs:attribute default="false" name="cacheable" type="xs:boolean" />
		<xs:attribute name="cache-region" type="xs:string" />
		<xs:attribute name="fetch-size" type="xs:string" />
		<xs:attribute name="timeout" type="xs:string" />
		<xs:attribute name="cache-mode" type="cachemode" />
		<xs:attribute name="read-only" type="xs:boolean" />
		<xs:attribute name="comment" type="xs:string" />
		<xs:attribute default="false" name="callable" type="xs:boolean" />
	</xs:complexType>

	<!-- QUERY-PARAM -->
	<xs:complexType name="query-param">
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="type" type="xs:string" use="required" />
	</xs:complexType>

	<!-- RESULTSET -->
	<xs:complexType name="resultset">
		<xs:choice maxOccurs="unbounded" minOccurs="0">
			<xs:element name="return-scalar" type="return-scalar" />
			<xs:element name="return" type="return" />
			<xs:element name="return-join" type="return-join" />
			<xs:element name="load-collection" type="load-collection" />
		</xs:choice>
		<xs:attribute name="name" type="xs:string" use="required" />
	</xs:complexType>

	<!-- RETURN -->
	<xs:complexType name="return">
		<xs:sequence maxOccurs="unbounded" minOccurs="0">
			<xs:element minOccurs="0" name="return-discriminator"
				type="return-discriminator" />
			<xs:element name="return-property" type="return-property" />
		</xs:sequence>
		<xs:attribute name="alias" type="xs:string" />
		<xs:attribute name="entity-name" type="xs:string" />
		<xs:attribute name="class" type="xs:string" />
		<xs:attribute default="read" name="lock-mode" type="lockmode" />
	</xs:complexType>

	<!-- RETURN-PROPERY -->
	<xs:complexType name="return-property">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="return-column" type="return-column" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="column" type="xs:string" />
	</xs:complexType>

	<!-- RETURN-COLUMN -->
	<xs:complexType name="return-column">
		<xs:attribute name="name" type="xs:string" use="required" />
	</xs:complexType>

	<!-- RETURN-DISCRIMINATOR -->
	<xs:complexType name="return-discriminator">
		<xs:attribute name="column" type="xs:string" use="required" />
	</xs:complexType>

	<!-- RETURN-JOIN -->
	<xs:complexType name="return-join">
		<xs:sequence maxOccurs="unbounded" minOccurs="0">
			<xs:element name="return-property" type="return-property" />
		</xs:sequence>
		<xs:attribute name="alias" type="xs:string" use="required" />
		<xs:attribute name="property" type="xs:string" use="required" />
		<xs:attribute default="read" name="lock-mode" type="lockmode" />
	</xs:complexType>

	<!-- LOAD-COLLECTION -->
	<xs:complexType name="load-collection">
		<xs:sequence maxOccurs="unbounded" minOccurs="0">
			<xs:element name="return-property" type="return-property" />
		</xs:sequence>
		<xs:attribute name="alias" type="xs:string" use="required" />
		<xs:attribute name="role" type="xs:string" use="required" />
		<xs:attribute default="read" name="lock-mode" type="lockmode" />
	</xs:complexType>

	<!-- RETURN-SCALAR -->
	<xs:complexType name="return-scalar">
		<xs:attribute name="column" type="xs:string" use="required" />
		<xs:attribute name="type" type="xs:string" />
	</xs:complexType>

	<!-- SYNCHRONIZE -->
	<xs:complexType name="synchronize">
		<xs:attribute name="table" type="xs:string" use="required" />
	</xs:complexType>

	<!-- SQL-INSERT -->
	<xs:complexType name="sql-insert">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute default="false" name="callable" type="xs:boolean" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!-- SQL-UPDATE -->
	<xs:complexType name="sql-update">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute default="false" name="callable" type="xs:boolean" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!-- SQL-DELETE -->
	<xs:complexType name="sql-delete">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute default="false" name="callable" type="xs:boolean" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!-- SQL-DELETE-ALL -->
	<xs:complexType name="sql-delete-all">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute default="false" name="callable" type="xs:boolean" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!-- DATABASE-OBJECT -->
	<xs:complexType name="database-object">
		<xs:sequence>
			<xs:choice>
				<xs:element name="definition" type="definition" />
				<xs:sequence>
					<xs:element name="create" type="xs:string" />
					<xs:element name="drop" type="xs:string" />
				</xs:sequence>
			</xs:choice>
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="dialect-scope" type="dialect-scope" />
		</xs:sequence>
	</xs:complexType>

	<!-- DEFINITION -->
	<xs:complexType name="definition">
		<xs:attribute name="class" type="xs:string" use="required" />
	</xs:complexType>

	<!-- DIALECT-SCOPE -->
	<xs:complexType name="dialect-scope">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string" use="required" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
